@import "tailwindcss";

@theme {
  --color-background: rgb(251,245,223);
  --color-foreground: #000000;
  --color-custom-white: #FAFAFA;
  --color-dark-blue: #007BFF;
  --color-primary: #55D2F7;
  --color-secondary: #E7EA33;
  --color-custom-grey: #716868;
  --color-gradient-start: #3BC2D3;
  --color-gradient-mid1: #A6DB70;
  --color-gradient-mid2: #BAE05D;
  --color-gradient-end: #E7EA33;

  --font-sans: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  --font-mono: var(--font-geist-mono), monospace;

  --text-title: 2rem;
  --text-subtitle: 1.5rem;
  --text-body: 1rem;
}

body {
  @apply bg-background text-foreground font-sans;
}
 .title {
    @apply text-primary text-title font-bold leading-tight;
  }

  .subtitle {
    @apply text-secondary text-subtitle font-semibold leading-snug;
  }

  .body-text {
    @apply text-foreground text-body leading-relaxed;
  }
.bg-brand-gradient {
  background-image: linear-gradient(135deg, var(--color-gradient-start), var(--color-gradient-mid1),var(--color-gradient-mid2), var(--color-gradient-end));
}
